<template name="Lists_show">
  <div class="page lists-show">
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        {{#if editing}}
          <form class="js-edit-form list-edit-form">
            <input type="text" name="name" value="MENU PRINCIPAL">
            <div class="nav-group right">
              <a href="#" class="js-cancel nav-item">
                <span
                  class="icon-close js-cancel"
                  title={{_ 'lists.show.cancel'}}>
                </span>
              </a>
            </div>
          </form>
        {{else}}
          <div class="nav-group">
            <a href="#" class="js-menu nav-item">
              <span
                class="icon-list-unordered"
                title={{_ 'lists.show.showMenu'}}>
              </span>
            </a>
          </div>

          <h1 class="js-edit-list title-page">
            <span class="title-wrapper">MENU PRINCIPAL</span>
            <span class="count-list">10</span>
          </h1>
        {{/if}}
      {{/momentum}}

    </nav>
  </div>
</template>
